body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	}
#mimi-search-form {
	position: relative;
	width: 1000px;
	height: 75px;
}
#mimi-search-form-2 {
	position: relative;
	width: 1000px;
	height: 190px;
}

#mimi-search-form-2 a {
	color: white;
	}
	
#search-field {
	width: 300px;
	height: 25px; 
	position: absolute;
	top: 5px; 
	left: 5px;
}

#search-field-2 {
	width: 250px;
	height: 150px; 
	position: absolute;
	top: 5px; 
	left: 5px;
}

#search-field-2 textarea {
	width: 240px;
	height: 140px;
	}
#search-gene-type {
	width: 100px;
	height: 200px;
	position: absolute;
	top: 5px; 
	left: 255px;
}
#filter-field-2 {
   width: 300px;
   height: 25px;
   position: absolute; 
   top: 5px;
   left: 505px;
	}
#upload-gene-list {
   width: 300px;
   height: 200px;
   position: absolute; 
   top: 65px;
   left: 505px;
	}
	
#search-field-bottom {
	width: 300px;
	height: 25px; 
	position: absolute; 
	top: 30px; 
	left: 5px; 
}
	
#filter-field {
   width: 350px;
   height: 25px;
   position: absolute; 
   top: 5px;
   left: 505px;
	}
#search-field input {
	width: 295px;
}

#filter-field-bottom {
	width: 350px; 
	height: 25px; 
	position: absolute;
	top: 30px;
	left: 505px;
	}
	
#doc-detail-text-highlight{
	background-color:yellow
}

#browse-disclamer{
    font-style:italic;
}

#browse-section-title{
	font-size: 12px;
    font-weight:bold;
}

INPUT,TEXTAREA { 
	INPUT,TEXTAREA { font-family: verdana, sans-serif; font-size: 10px; } 
	font-size: 10px; }

#search-links {
	width: 100px;
	height: 25px;
	position: absolute;
	top: 5px; 
	left: 305px;
}

#search-links a {
	color: white;
	}

#search-button {
	width: 130px;
	}
#wrapper {
	width: 1000px;
	margin: auto;
	}
#header {
	background-image: url(images/MiMI_banner_slice2.jpg);
	width: 1000px;
	height: 104px; 
}

#header-right {
	float: right;
}

#header-left {
	float: left;
}

#genedetail-1 {
	width: 250px;
	float: left;
	
}

#genedetail-2 {
	width: 500px;
	float: left;
	
}

#genedetail-3 {
	width: 250px;
	float: left;
}

#gotermstable  {
	width: 500px;
	}
	
#molprovtable {
	width: 500px;
}

#browse-initial-table{
	width: 250px;
}

#browse-initial-table td {
	height: 2em;
}
#browse-result-table {
}

#mimi-top {
	height: 75px;
	width: 1000px;
	background-color: #3480b4;
	color: white; 
}
#mimi-top-2 {
	height: 190px;
	width: 1000px;
	background-color: #3480b4;
	color: white; 
}
table {
	border: 1px solid #666;
	width: 100%;
	margin: 20px 0 20px 0 !important;
	font-size: 9px;
}

th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

td {
	height: 45px;
	}

thead tr {
	background-color: #3480b4;
    color: white; 
}

th.sorted {
	background-color: orange;
}

th a,th a:visited {
	color: white;
}

th a:hover {
	text-decoration: underline;
	color: white;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
}

tr.odd {
	background-color: white;
}

tr.tableRowEven,tr.even {
	background-color: #ddd
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 275px;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
}

span.csv {
	background-image: url(../img/ico_file_csv.png);
}

span.xml {
	background-image: url(../img/ico_file_xml.png);
}

span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../img/ico_file_rtf.png);
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
/*	padding: 2px 4px 2px 4px; */
	width: 100%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
/*	padding: 2px 4px 2px 4px; */
	width: 100%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}


.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.grandtotal-row {
    border-top: 2px solid black;
}

#bodyColumn {

}


