#data-list-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    border-collapse: collapse;
    text-align: left;
}

#data-list-table th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#data-list-table td {
   border: 2px solid #6678b1;
   color: #000;
   padding: 2px;
}

#save-list-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 4px;
    border-collapse: collapse;
    text-align: left;
}

#save-list-table th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#save-list-table td {
   border: 2px solid #6678b1;
   color: #000;
   padding: 2px;
}

#data-set-layout-table tr {
	vertical-align: top;
}
#data-set-layout-table td {
   padding: 8px;
}

#data-review-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 2px;
    border-collapse: collapse;
    text-align: left;
	vertical-align: top;
}

#data-review-table th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#data-review-table td {
   border: 2px solid #6678b1;
   color: #000;
   padding: 2px;
}
