@charset "utf-8";
/* CSS Document */

#header {
width: 1000px;
height: 110px;
background-image:url(img/Top_images_knockedback.jpg);
background-repeat:no-repeat;
}

#headerMain {
width: 1000px;
height: 110px;
background-image:url(img/Top_images.jpg);
background-repeat:no-repeat;
}

#subheader {
width: 1000px;
padding: 12pt;
}
