/* These styles for the top portion of the gene detail page; currently a table format */

table.gene-detail-top-table {
	margin: 0 0 0 0;
}
tr.gene-detail-top-table-tr {
}
td.gene-detail-top-table-td {
	margin: 0 0 0 0;
	padding: 0;
	height: auto;
}

table.gene-detail-goterm-table {
	border: 0;
	margin: 0 0 0 0;
}
tr.gene-detail-goterm-table-first-row-tr {
}
td.gene-detail-goterm-table-first-row-td {
	margin: 0 0 0 0;
	padding: 0 !important; 
	height: auto;
}
tr.gene-detail-goterm-table-tr {
	margin: 0 0 0 0;
}
td.gene-detail-goterm-table-td {
	margin: 0 0 0 0;
	width: 33%;
	padding: 0;
	height: auto;
}
